/* nav-icon3 renamed to navIcon | Gotten from https://codepen.io/designcouch/pen/ExvwPY by Jesse Couch */

* {
  margin: 0;
  padding: 0; 
}
    
/* Icon 3 */

#navIcon span:nth-child(1) {
  top: 0px;
}

#navIcon span:nth-child(2),#navIcon span:nth-child(3) {
  top: 18px;
}

#navIcon span:nth-child(4) {
  top: 36px;
}

#navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
