
.arrow input {
    padding-left:30px;
    background-image: url('../../public/svg/arrow-right.svg');  
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px 1rem;

    &:not([value=""]) {
        background-image: url('../../public/svg/check.svg');
    };
};

.mail {
    background-image: url('../../public/svg/credit-card.svg'); 
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}